<div class="container" style="background-color: black;">
  <h2 style="text-align: center;color:blue;">Covid status</h2><br>
  <div class="card-deck">
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Confirmed</div>
      <div class="card-body">
        <h5 class="card-title">{{confirm}}</h5>
      </div>
    </div>
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
      <div class="card-header">Recovered</div>
      <div class="card-body">
        <h5 class="card-title">{{recover}}</h5>
      </div>
    </div>
    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
      <div class="card-header">Active</div>
      <div class="card-body">
        <h5 class="card-title">{{active}}</h5>
      </div>
    </div>
    <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
      <div class="card-header">Deaths</div>
      <div class="card-body">
        <h5 class="card-title">{{death}}</h5>
      </div>
    </div>
  </div>
</div>